# Devenv
.claude
.devenv*
devenv.local.nix
devenv.local.yaml

db/*
docs/*
out/*
python/src/__pycache__
python/src/*.dylib
python/src/uniffi_py.py
!docs/devlog.md
!docs/ADR.md
!docs/LLM-use.md

# direnv
.direnv
!.envrc

# pre-commit
.pre-commit-config.yaml


# Added by cargo

/target
